@charset "utf-8";
html {
    background-color: white
}
body {
    margin: 0;
    font-size: 16px;
    width: 100%;
}
.header {
    height: 200px;
    background-size: contain;
    background-image: url("picture/Git_logo.jpeg");
}
.top {
    text-align: center;
    height: 200px;
    width: auto;
}
.Git, .system {
    color: red;
    font-size: 35px;
}
.introduction {
    font-size: 40px;
    line-height: 1.7em;
    text-align: center;
}
h2, h3 {
    font-size: 25px;
    line-height: 1.5em;
    text-align: center;
}
.middle {
    height: 450px;
    width: 100%;
}
.middle h2 {
    font-size: 40px;
}
.middle p {
    font-size: 22px;
}

.single, .whenever, .modification {
    display: block;
    /*text-align: center;*/
}
.folder {
    vertical-align: baseline;
    margin-right: 15%;
    margin-left: 15%;
    line-height: 3.5em;
    position: relative;
}
.num_logo {
    zoom: 0.5;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 15%;
 }
.ex {
    display: inline-block;
    position: relative;
    padding-left: 30%;
}
.bottom {
    height: 400px;
    width: auto;
}
.feeling {
    text-align: center;
}
.text_div {
    display: block;
    height: 250px;
    border: 1px solid black;
    margin: 2%;
    padding-left: 10%;
}
.text_div p {
    font-size: 20px;
    line-height: 2.5em;
}
.bottom {
    text-align: right;
    height: 100px;
    width: auto;
    background-color: gray;
    font-size: 40px;
}
.middle span {
    color: blue;
}
